.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.7);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.modalContent {
    padding: 36px 70px 60px;
    background: white;
    border-radius: 16px;
    min-width: 250px;
    transform: scale(0.3);
    transition: all 1s;
}

.active .modalContent {
    transform: scale(1);
}

.modal.active {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
}