.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 80px;
    gap: 20px;
}

.section h1, .section p, .map-wrapper {
    width: var(--content-second-width);
}

.section h1 {
    font-size: 56px;
}

.section p {
    font-size: 32px;
    margin-bottom: 20px;
}

.map-wrapper {
    position: relative;
}

.map {
    width: 100%;
}

.logo {
    width: 50px;
    position: absolute;
    top: 340px;
    left: 830px;
}