@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "./reset.css";
@import "./variables/global.css";
@import "./themes/light.css";

html {
    scroll-behavior: smooth;
}

.app {
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    position: relative;
}

.cf-turnstile,
iframe[src*="challenges.cloudflare.com"] {
    /* Prevent the iframe from stealing mouse pointer focus */
    cursor: inherit !important;
}

.tg-block {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    height: 500px;
    background: white;
    z-index: 4;
}
