.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    background: var(--third-color);
    padding: 80px 0;
}

.title-container {
    width: 100%;
    max-width: var(--content-second-width);
    display: flex;
    justify-content: center;
    position: relative;
}

.switches {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 6px;
}

.switch {
    height: 47px;
    width: 47px;
    transition: transform 0.2s;
}

.right {
    transform: rotate(180deg);
}

.switch:hover {
    transform: scale(1.15);
}

.switch:active {
    transform: scale(1);
    background: var(--second-color);
    color: var(--primary-color);
}

.right:hover {
    transform: scale(1.15) rotate(180deg);
}

.right:active {
    transform: scale(1) rotate(180deg);
}

.label-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.label-wrapper {
    padding: 4px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}

.purple {
    background: var(--second-color);
}

.yellow {
    background: var(--primary-color);
}

.purple::after, .yellow::after {
    position: absolute;
    height: 33px;
    width: 33px;
    content: '';
}

.purple::after {
    left: -17px;
    top: 7px;
    background: var(--second-color);
    transform: rotate(45deg);
}

.yellow::after {
    right: -17px;
    top: 7px;
    background: var(--primary-color);;
    transform: rotate(45deg);
}

.label-text {
    font-size: 32px;
    letter-spacing: 2px;
}

.content {
    display: flex;
    width: var(--content-second-width);
    height: 390px;
    justify-content: space-between;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 378px;
}

.text-container h2 {
    font-size: 48px;
    line-height: 52px;
}

.text-container p {
    font-size: 20px;
}

.divider {
    height: 100%;
    width: 2px;
    border-right: var(--primary-color) solid 2px;
}

.teachers-wrapper {
    width: 750px;
    height: 100%;
}

.teachers-container {
    gap: 24px;
}

.teacher {
    height: 100%;
    width: 234px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-shrink: 0;
}

.teacher span {
    margin-top: 15px;
    font-size: 20px;
}

.teacher p {
    font-size: 16px;
}

.image-container {
    width: 150px;
    height: 208px;
    border-radius: 5px;
    display: flex;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.image {
    height: 80%;
}

.badge {
    padding: 8px 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(-20%);
    width: max-content;
}

.badge span {
    font-size: 14px;
}

@media (max-width: 1279px) {
    .switch:hover {
        transform: scale(1);
    }

    .switch:active {
        transform: scale(1.15);
        background: var(--second-color);
        color: var(--primary-color);
    }

    .right:hover {
        transform: scale(1) rotate(180deg);
    }

    .right:active {
        transform: scale(1.15) rotate(180deg);
    }

    .section {
        gap: 80px;
        background: var(--third-color);
        padding: 60px 30px 80px;
    }

    .title-container {
        justify-content: flex-start;
        padding-left: 23px;
    }

    .content {
        width: 100%;
        max-width: var(--content-second-width);
        height: 380px;
    }

    .text-container {
        flex-shrink: 0;
        gap: 16px;
    }

    .teachers-wrapper {
        width: 492px;
    }
}

@media (max-width: 1000px) {
    .text-container {
        width: 360px;
    }
}

@media (max-width: 959px) {
    .section {
        gap: 24px;
        padding: 47px 26px 64px;
    }

    .switches {
        top: unset;
        bottom: 420px;
    }

    .content {
        flex-direction: column;
        height: max-content;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
        position: relative;
    }

    .text-container {
        width: 100%;
        gap: 8px;
    }

    .text-container h2 {
        font-size: 38px;
        line-height: 38px;
    }

    .text-container p {
        width: 80%;
        font-size: 16px;
    }

    .teachers-wrapper {
        width: 100%;
        height: 380px;
    }
}

@media (max-width: 639px) {
    .title-container {
        width: 100%;
        justify-content: center;
        padding: 0 23px;
    }

    .label-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .label-wrapper {
        padding: 4px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        position: relative;
    }

    .purple::after, .yellow::after {
        height: 26px;
        width: 26px;
        top: 6px;
    }

    .purple::after {
        left: -13px;
    }

    .yellow::after {
        right: -13px;
    }

    .label-text {
        font-size: 24px;
        letter-spacing: 1px;
    }

    .content {
        align-items: flex-start;
    }

    .text-container h2 {
        font-size: 32px;
        line-height: 32px;
    }

    .text-container p {
        width: 100%;
        font-size: 16px;
    }

    .text-container p:last-child {
        width: 68%;
    }

    .switch {
        height: 40px;
        width: 40px;
        transition: transform 0.2s;
    }
}