.wrapper {
    overflow: hidden;
    position: relative;
    cursor: move;
}

.container {
    display: flex;
    transition: all 2s;
    position: absolute;
    top: 0;
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none;  /* Konqueror HTML */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Modern Browsers */
}

.dragged .container {
    transition: all 0s;
}