.link {
    text-decoration: none;
    cursor: pointer;
}

.anchor-icon {
    transition: all 0.5s;
}

.anchor-icon:hover {
    transform: scale(1.2);
}

.anchor-icon svg {
    width: 100%;
    height: 100%;
}

.anchor {
    cursor: pointer;
    text-decoration: none;
}

.text {
    padding: 10px 14px;
    border-radius: 30px;
}

@media (max-width: 1279px) {
    .anchor-icon:hover {
        transform: unset;
    }

    .anchor-icon:active {
        transform: scale(1.2);
    }
}