.section {
    height: 1000px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    background-color: var(--third-color);
}

.title {
    width: 1000px;
    font-size: 56px;
}

.links {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
}

.link {
    width: 400px;
    height: 200px;
    background-color: cadetblue;
}