.intro {
    background: var(--second-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    position: relative;
    padding: calc(var(--header-full-height) + 46px) 40px 0;
}

.container {
    position: relative;
    max-width: var(--content-width);
    width: 100%;
    height: 524px;
    border: 16px solid #fff;
    background: var(--primary-color);
    display: flex;
    padding: 0 30px 0 80px;
    z-index: var(--content-z-index);
}

.container::before {
    box-sizing: inherit;
    content: '';
    position: absolute;
    bottom: -47px;
    left: 93px;
    background: white;
    width: 62px;
    height: 62px;
    transform: rotate(-45deg);
}

.container::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    bottom: -25px;
    left: 100px;
    background: var(--primary-color);
    width: 50px;
    height: 50px;
    transform: rotate(-45deg);
}

.action {
    padding: 66px 0 66px;
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

.action h1 {
    font-size: 48px;
    line-height: 48px;
}

.subtitle {
    width: 350px;
    padding-bottom: 40px;
    font-size: 24px;
}

.button {
    padding: 16px 40px;
    width: max-content;
}

.image-container {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    opacity: 0;
    transition: opacity 2s;
}

.image {
    max-width: 100%;
    max-height: 100%;
    min-height: 80%;
}

.appear {
    opacity: 1;
}

.features {
    max-width: var(--content-width);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 45px 0 80px;
    z-index: var(--content-z-index);
}

.single-feature {
    display: flex;
    flex-direction: column;
    gap: 45px;
    max-height: 380px;
    max-width: 100%;
    flex: 1;
}

.feature-paragraph {
    height: fit-content;
}

.feature-image-container {
    max-width: 60%;
}

.feature-image {
    width: 100%;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: var(--background-z-index);
    object-fit: cover;
    pointer-events: none;
}


@media (max-width: 1279px)  {
    .intro {
        gap: 80px;
    }

    .container {
        height: 486px;
        padding: 0 18px 0 48px;
    }

    .action {
        padding: 0;
        justify-content: center;
        gap: 20px;
        width: 357px;
    }

    .action h1 {
        font-size: 38px;
        line-height: 42px;
    }

    .subtitle {
        width: 330px;
        padding-bottom: 32px;
        font-size: 22px;
    }

    .button {
        padding: 16px 40px;
        width: max-content;
    }

    .features {
        max-width: 950px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-content: space-between;
        gap: 60px;
        padding: 25px 0 70px;
    }

    .single-feature {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 18px;
        max-height: 380px;
        max-width: 100%;
        flex: 1;
    }

    .feature-paragraph {
        width: 275px;
        height: fit-content;
        flex-shrink: 0;
    }

    .feature-image-container {
        max-width: 60%;
        max-height: 130px;
    }

    .feature-image {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1100px)  {
    .intro {
        gap: 80px;
    }

    .container {
        height: 486px;
        padding: 0 18px 0 36px;
    }

    .action {
        gap: 12px;
        width: 300px;
    }

    .action h1 {
        font-size: 32px;
        line-height: 38px;
    }

    .subtitle {
        width: 100%;
        padding-bottom: 22px;
        font-size: 20px;
    }

    .button {
        width: 260px;
        padding: 16px 40px;
        line-height: 26px;
    }
}

@media (max-width: 959px)  {
    .intro {
        gap: 80px;
        padding: calc(var(--header-full-height) + 46px) 26px 0;
    }

    .container {
        height: 331px;
        padding: 0 6px 0 32px;
        border: 10px solid #fff;
    }

    .container::before {
        bottom: -38px;
        left: 80px;
        width: 54px;
        height: 54px;
    }

    .container::after {
        bottom: -23px;
        left: 84px;
        width: 46px;
        height: 46px;
    }

    .action {
        gap: 12px;
        width: 240px;
    }

    .action h1 {
        font-size: 26px;
        line-height: 28px;
    }

    .subtitle {
        width: 100%;
        padding-bottom: 16px;
        font-size: 16px;
    }

    .button {
        width: 180px;
        padding: 12px 32px;
        line-height: 16px;
        font-size: 14px;
    }

    .features {
        max-width: 610px;
        gap: 10px;
        padding: 0 0 40px;
    }

    .single-feature {
        max-height: 360px;
        padding: 10px 0;
    }

    .feature-paragraph {
        width: 180px;
        font-size: 14px;
        line-height: 18px;
    }

    .feature-paragraph span {
        font-size: 14px;
        line-height: 18px;
    }
}

@media (max-width: 639px)  {
    .intro {
        gap: 80px;
        padding: calc(var(--header-full-height) + 46px) 24px 0;
    }

    .container {
        flex-direction: column;
        height: max-content;
        padding: 29px 0 0;
        align-items: center;
        gap: 24px;
    }

    .container::before {
        bottom: -29px;
        left: 32px;
        width: 40px;
        height: 40px;
    }

    .container::after {
        bottom: -16px;
        left: 35px;
        width: 34px;
        height: 34px;
    }

    .action {
        width: 270px;
    }

    .action h1 {
        font-size: 26px;
    }

    .subtitle {
        padding-bottom: 12px;
        font-size: 14px;
    }

    .button {
        width: 100%;
        padding: 14px 20px;
        line-height: 16px;
        font-size: 15px;
    }

    .image-container {
        width: 100%;
        height: 230px;
    }

    .image {
        max-width: 100%;
        max-height: 100%;
        min-height: 80%;
    }

    .features {
        max-width: 100%;
        gap: 10px;
        padding: 0 0 40px;
        display: flex;
        flex-direction: column;
    }

    .single-feature {
        max-height: 360px;
        padding: 10px 0;
    }

    .feature-paragraph {
        width: 75%;
        font-size: 16px;
        line-height: 24px;
    }

    .feature-paragraph span {
        font-size: 16px;
        line-height: 24px;
    }
}