.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 100px;
    gap: 40px;
}

.section h2, .branches {
    width: var(--content-second-width);
}

.section h2 {
    font-size: 56px;
}

.branches {
    list-style: none;
}

.branch {
    width: 100%;
    display: flex;
    gap: 40px;
}

.branch-description {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.branch-description h3 {
    font-size: 32px;
    margin-bottom: 8px;
}

.branch-description p {
    font-size: 22px;
    margin-bottom: 20px;
}

.branch-description img {
    width: 100%;
    border-radius: 20px;
}

.map-wrapper {
    flex: 1;
}