.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 100px;
    gap: 40px;
}

.section h2, .branches {
    width: var(--content-second-width);
}

.section h2 {
    font-size: 56px;
}

.branches {
    list-style: none;
}

.branch {
    width: 100%;
    display: flex;
    gap: 40px;
}

.branch-description {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.branch-description h3 {
    font-size: 32px;
    margin-bottom: 8px;
}

.branch-description p {
    font-size: 22px;
    margin-bottom: 20px;
}

.branch-description img {
    width: 100%;
    border-radius: 20px;
}

.map-wrapper {
    flex: 1;
}

@media (max-width: 1279px) {
    .section {
        gap: 24px;
        padding: 0 40px 80px;
    }

    .section h2, .branches {
        width: 100%;
    }

    .section h2 {
        font-size: 48px;
    }

    .branch {
        width: 100%;
        gap: 20px;
    }

    .branch-description h3 {
        font-size: 26px;
        margin-bottom: 8px;
    }

    .branch-description p {
        font-size: 18px;
        margin-bottom: 14px;
    }
}

@media (max-width: 959px) {
    .section {
        padding: 0 26px 64px;
    }

    .section h2 {
        font-size: 40px;
    }

    .branch {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 3fr;
        gap: 20px;
    }

    .branch-description h3 {
        font-size: 26px;
        margin-bottom: 8px;
    }

    .branch-description p {
        font-size: 18px;
        margin-bottom: 14px;
    }
}

@media (max-width: 639px) {
    .section {
        padding: 0 24px 58px;
    }

    .section h2 {
        font-size: 32px;
    }

    .branch-description h3 {
        font-size: 22px;
        margin-bottom: 6px;
    }

    .branch-description p {
        font-size: 16px;
        margin-bottom: 12px;
    }
}