.intro {
    background: var(--second-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    position: relative;
    padding-top: 100px;
}

.container {
    position: relative;
    max-width: var(--content-width);
    width: 100%;
    margin: 0 40px;
    height: 524px;
    border: 16px solid #fff;
    background: var(--primary-color);
    display: flex;
    padding: 0 30px 0 80px;
    z-index: var(--content-z-index);
}

.container::before {
    box-sizing: inherit;
    content: '';
    position: absolute;
    bottom: -47px;
    left: 93px;
    background: white;
    width: 62px;
    height: 62px;
    transform: rotate(-45deg);
}

.container::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    bottom: -25px;
    left: 100px;
    background: var(--primary-color);
    width: 50px;
    height: 50px;
    transform: rotate(-45deg);
}

.action {
    padding: 66px 0 66px;
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

.subtitle {
    width: 350px;
    padding-bottom: 40px;
}

.button {
    padding: 16px 40px;
    width: max-content;
}

.image-container {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
}

.image {
    max-width: 100%;
    max-height: 100%;
    min-height: 80%;
    opacity: 0;
    transition: opacity 2s;
}

.appear {
    opacity: 1;
}

.features {
    max-width: var(--content-width);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 45px 0 80px;
    z-index: var(--content-z-index);
}

.single-feature {
    display: flex;
    flex-direction: column;
    gap: 45px;
    max-height: 380px;
    max-width: 100%;
    flex: 1;
}

.feature-paragraph {
    height: fit-content;
}

.feature-image-container {
    max-width: 60%;
}

.feature-image {
    width: 100%;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: var(--background-z-index);
    object-fit: cover;
}
