.full-logo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.full-logo img {
    width: 182px;
    height: 46px;
}

.full-logo p {
    font-size: 14px;
    width: 178px;
}

.short-logo {
    width: 32px;
    height: 40px;
    margin-right: 14px;
}