.section {
    background: var(--second-color);
    display: flex;
    justify-content: center;
}

.container {
    width: var(--content-second-width);
    padding: 80px 100px;
    position: relative;
}

.left, .right {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 250px;
    transform: translateX(-30%);
    color: var(--primary-color);
}

.left {
    left: 0;
}

.right {
    right: 0;
    transform: translateX(30%) rotate(180deg);
}

.left:hover, .right:hover {
    color: var(--third-color);
}

.title {
    font-size: 48px;
    margin-bottom: 40px;
}

.carousel-wrapper {
    /*width: 100%;*/
    height: 410px;
}

.carousel-container {
    display: flex;
    gap: 100px;
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 450px;
}

.quote {
    padding: 34px 32px;
    width: 100%;

    border: var(--primary-color) solid 8px;
    position: relative;
    background: var(--second-color);
}

.quote-text {
    font-size: 20px;
}

.mark {
    transform: rotate(45deg);
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -31px;
    left: calc(488px / 4.5);
}

.colorsContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.outline, .inline {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
}

.inline {
    top: -8px;
    left: -8px;
    background: var(--second-color);
}

.author {
    display: flex;
    align-items: center;
    gap: 22px;
    height: 88px;
    max-width: 100%;
    padding-left: 98px;
    flex-grow: 0;
}

.author img {
    height: 100%;
}

.author span {
    font-size: 24px;

}

