.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 60px;
}

.section h1, .section h2 {
    width: var(--content-second-width);
}

.section h2 {
    font-size: 28px;
    margin-bottom: 6px;
}

.section h1 {
    font-size: 56px;
    margin-bottom: 40px;
}

.content {
    position: relative;
    width: var(--content-second-width);
    display: flex;
    justify-content: space-between;
}

.content img {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    height: 150px;
}

.contacts {
    border-top: 1px solid var(--second-text-color);
    padding: 16px 0;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.contacts h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

.contacts span {
    font-size: 18px;
}

.socials {
    margin-top: 20px;
    display: flex;
    gap: 24px;
    padding: 0 12px;
}

.social {
    height: 40px;
    width: 40px;
    transition: all 0.5s;
}

.social:hover {
    /*background: var(--second-color);*/
    /*fill: var(--third-color);*/
    transform: scale(1.2);
}

.link {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 12px;
    padding: 6px 12px;
    border-radius: 20px;
    transition: all 0.5s;
    width: 90%;
}

.link svg {
    width: 32px;
    height: 32px;
    fill: var(--second-color);
}

.link:hover {
    background: var(--second-color);
}

.link:hover span {
    color: var(--third-color);
}

.link:hover svg {
    fill: var(--third-color);
}

.phone-icon {
    padding: 4px;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 70%;
}

@media (max-width: 1279px) {
    .social:hover {
        transform: scale(1);
    }
    .social:active {
        transform: scale(1.2);
    }
    .section {
        padding: 56px 40px 40px;
    }

    .section h1, .section h2, .content {
        width: 100%;
    }

    .section h2 {
        font-size: 24px;
        margin-bottom: 6px;
    }

    .section h1 {
        font-size: 48px;
        margin-bottom: 32px;
    }

    .questions {
        gap: 16px;
        width: 65%;
    }

    .contacts {
        width: 32%;
    }

    .socials {
        margin-top: 12px;
        padding: 0;
    }

    .link {
        padding: 6px 0;
        transition: all 0.5s;
        width: 90%;
    }

    .link:hover {
        background: var(--third-color);
    }
    .link:hover span {
        color: var(--second-color);
    }
    .link:hover svg {
        fill: var(--second-color);
    }
    .link:active {
        background: var(--second-color);
    }
    .link:active span {
        color: var(--third-color);
    }
    .link:active svg {
        fill: var(--third-color);
    }
}

@media (max-width: 959px) {
    .section {
        padding: 47px 26px 24px;
    }

    .content img {
        height: 110px;
    }

    .section h2 {
        font-size: 20px;
        margin-bottom: 6px;
    }

    .section h1 {
        font-size: 40px;
        margin-bottom: 24px;
    }

    .questions {
        gap: 16px;
        width: 62%;
    }

    .contacts {
        width: 35%;
    }

    .contacts h3 {
        font-size: 22px;
        margin-bottom: 4px;
    }

    .contacts span {
        font-size: 16px;
    }

    .socials {
        margin-top: 8px;
        padding: 0;
        gap: 16px;
    }

    .social {
        height: 32px;
        width: 32px;
    }

    .link {
        padding: 4px 0;
        width: 100%;
    }
}

@media (max-width: 639px) {
    .section {
        padding: 47px 26px 12px;
    }

    .section h2 {
        font-size: 18px;
        margin-bottom: 4px;
    }

    .section h1 {
        font-size: 32px;
        margin-bottom: 18px;
        max-width: 400px;
        margin-right: auto;
    }

    .content {
        flex-direction: column-reverse;
        gap: 24px;
    }

    .questions {
        gap: 16px;
        width: 100%;
        padding: 0 12px;
    }

    .contacts {
        width: 100%;
        padding: 24px 12px;
    }
}