.light {
    --primary-color: #FFD749;
    --second-color: #602B7A;
    --third-color: #fff;
    --error-color: #F4363F;

    --primary-text-color: #FFD749;
    --second-text-color: #602B7A;
    --third-text-color: #fff;

    --header-bg-color: teal;
}