.footer {
    width: 100%;
    background: var(--second-color);
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.nav {
    width: var(--content-second-width);
    display: flex;
    justify-content: space-between;
}

.logo-column {
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.info {
    font-size: 14px;
}

.logo-column a:first-child{
    margin-bottom: 8px;
}

.payment {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.payment img, .payment svg {
    width: 60px;
    height: 50px;
}

.visa1 {
    transform: scale(1.2);
}

.visa2 {
    transform: scale(1.3);
}

.connect-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.rights {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: auto;
    width: 310px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /*background: #974dbc;*/
    /*border-radius: 12px;*/
    width: 292px;
    /*height: 200px;*/
    /*padding: 18px 36px;*/
}

.card:first-child {
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 18px;
}

.card h3 {
    font-size: 24px;
    margin-bottom: 6px;
}

.card p {
    font-size: 18px;
}

.anchor {
    font-size: 22px;
    color: var(--third-color);
    font-weight: 600;
}

.anchor:hover {
    color: #2957da;
}

.button {
    height: 46px;
    margin-top: 12px;
}

.links-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.links, .socials-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.socials {
    display: flex;
    gap: 18px;
}

.social {
    height: 40px;
    width: 40px;
    transition: all 0.5s;
}

.social:hover {
    transform: scale(1.2);
}

.links h3, .socials-container h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

.link {
    color: var(--third-text-color);
    font-size: 20px;
    font-weight: 500;
    padding: 0;
}