.link {
    width: 360px;
    /*height: 200px;*/
    background-color: var(--primary-color);
    transition: all 0.3s;
    text-decoration: none;
    padding: 20px 30px 30px 30px;
    position: relative;
    border-radius: 10px;
}

.link:hover {
    transform: translateY(-10px);
}

.link h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.link p {
    font-size: 16px;
    width: 80%;
    margin-bottom: 14px;
}

.link-image {
    position: absolute;
    right: 10px;
    max-height: 60%;
    max-width: 30%;
    bottom: 0;
}

.discover {
    padding: 14px;
    border-radius: 40px;
    gap: 14px;
    height: 40px;
    width: max-content;
    background: var(--third-color);
    display: flex;
    align-items: center;
}

.discover span {
    font-size: 14px;
}

.arrow {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: black;
    padding: 5px;
    transform: rotate(135deg);
    transition: all 0.3s;
}

.arrow.hover {
    transform: rotate(180deg);
}

.arrow svg {
    color: white;
}