.section {
    background: var(--third-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    gap: 48px;
}

.section.modal {
    width: 1000px;
    padding: 0;
}

.title-container {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 56px;
    width: 1000px;
}

.content {
    display: flex;
    width: 1000px;
    justify-content: space-between;
}

.modal .content {
    width: 100%;
    justify-content: space-between;
}

.form-container, .submitted {
    height: 100%;
    background: var(--second-color);
    width: 530px;
    border-radius: 30px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.submitted {
    gap: 30px;
}

.form-container input {
    margin-bottom: 16px;
}

.submitted {
    align-items: center;
    justify-content: space-between;
    height: 583px;
}

.submitted h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 14px;
}

.submitted p {
    font-size: 22px;
    text-align: center;
}

.check, .x {
    padding: 10px;
    border-radius: 50%;
    border: 8px solid limegreen;
    width: 160px;
    height: 160px;
    color: limegreen;
}

.x {
    border: 8px solid indianred;
    color: indianred;
}

.button {
    background: #FFF06B;
    width: 250px;
    height: 44px;
    font-size: 16px;
    font-weight: var(--font-weight-m);
    margin-top: 16px;
}

.button:hover, .submitted .button:hover {
    background: #fff387;
}

.submitted .button {
    width: 100%;
    height: 52px;
    font-size: 18px;
    font-weight: var(--font-weight-l);
    margin-top: 16px;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 60px;
    width: 420px;
}

.description-container h3, .description-container p  {
    width: 300px;
    font-size: 24px;
    line-height: 32px;
}

.description-container p  {
    font-size: 20px;
}

.steps {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.step {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.image-container {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.step img {
    max-width: 100%;
    max-height: 100%;
}

.form-container input:focus,
.form-container textarea:focus {
    cursor: text !important;
}

.form-container input:hover,
.form-container textarea:hover {
    cursor: text !important;
}

@media (max-width: 1279px) {
    .section {
        gap: 20px;
        padding: 56px 40px 80px;
    }

    .section.modal {
        width: 880px;
        padding: 26px 36px 36px;
    }

    .title-container {
        width: 100%;
    }

    .title {
        font-size: 40px;
        width: 100%;
        max-width: 1000px;
    }

    .content {
        display: flex;
        width: 100%;
        max-width: 1000px;
        justify-content: space-around;
    }

    .modal .content {
        width: 100%;
        justify-content: space-between;
    }

    .form-container, .submitted {
        width: 470px;
        padding: 26px 30px 30px;
        gap: 8px;
        flex-shrink: 0;
    }

    .submitted {
        gap: 20px;
    }

    .form-container input {
        margin-bottom: 12px;
    }

    .modal .form-container, .modal .submitted {
        width: 420px;
    }

    .submitted {
        height: 518px;
    }

    .submitted h3 {
        font-size: 26px;
        text-align: center;
        margin-bottom: 14px;
    }

    .submitted p {
        font-size: 20px;
    }

    .check, .x {
        padding: 10px;
        border: 6px solid limegreen;
        width: 120px;
        height: 120px;
    }

    .x {
        border: 6px solid indianred;
    }

    .button {
        background: #FFF06B;
        width: 250px;
        height: 44px;
        font-size: 16px;
        font-weight: var(--font-weight-m);
        margin-top: 12px;
    }

    .button:hover, .submitted .button:hover {
        background: #FFF06B;
    }

    .button:active, .submitted .button:active {
        background: #FFF06B;
    }

    .submitted .button {
        margin: 16px 0 10px;
    }

    .description-container {
        width: 370px;
    }

    .description-container h3, .description-container p  {
        width: 270px;
        font-size: 22px;
        line-height: 28px;
    }

    .description-container p  {
        font-size: 18px;
    }

    .image-container {
        width: 90px;
        height: 90px;
    }
}

@media(max-width: 959px) {
    .section {
        gap: 20px;
        padding: 47px 40px 64px;
    }

    .title {
        font-size: 32px;
        width: 100%;
        max-width: 100%;
    }

    .content {
        flex-direction: column;
        width: 100%;
        max-width: 800px;
        justify-content: flex-start;
        gap: 20px;
    }

    .form-container, .submitted {
        width: 100%;
        padding: 30px 40px 36px;
        gap: 10px;
        flex-shrink: 0;
    }

    .submitted {
        gap: 24px;
    }

    .form-container input {
        margin-bottom: 14px;
    }

    .submitted {
        height: 544px;
        align-items: center;
    }

    .submitted h3 {
        font-size: 26px;
        text-align: center;
        margin-bottom: 14px;
    }

    .submitted p {
        font-size: 18px;
    }

    .check, .x {
        padding: 10px;
        border: 6px solid limegreen;
        width: 120px;
        height: 120px;
    }

    .x {
        border: 6px solid indianred;
    }

    .button {
        background: #FFF06B;
        width: 250px;
        height: 44px;
        font-size: 16px;
        font-weight: var(--font-weight-m);
    }

    .form-container .button {
        margin: 14px 0 0 auto;
    }

    .button:hover, .submitted .button:hover {
        background: #FFF06B;
    }

    .button:active, .submitted .button:active {
        background: #FFF06B;
    }

    .submitted .button {
        margin: 16px 0 10px;
    }

    .description-container {
        width: 100%;
        gap: 12px;
        align-items: flex-start;
    }

    .description-container h3, .description-container p  {
        width: 100%;
        font-size: 22px;
        line-height: 28px;
    }

    .description-container p  {
        font-size: 18px;
    }

    .section.modal {
        width: calc(100vw - 70px);
    }

    .title-container {
        width: 100%;
    }

    .modal .content {
        width: 100%;
        justify-content: space-between;
    }

    .modal .form-container, .modal .submitted {
        width: 100%;
    }
}

@media (max-width: 639px) {
    .section {
        gap: 24px;
        padding: 47px 26px 64px;
    }

    .title {
        font-size: 26px;
    }

    .content {
        gap: 24px;
    }

    .form-container, .submitted {
        padding: 20px 24px 30px;
        gap: 8px;
    }

    .submitted {
        gap: 18px;
    }

    .form-container input {
        margin-bottom: 10px;
    }

    .submitted {
        height: 504px;
    }

    .submitted h3 {
        font-size: 22px;
        text-align: center;
        margin-bottom: 14px;
    }

    .submitted p {
        font-size: 16px;
    }

    .check, .x {
        padding: 10px;
        border: 6px solid limegreen;
        width: 120px;
        height: 120px;
    }

    .x {
        border: 6px solid indianred;
    }

    .button {
        background: #FFF06B;
        width: 250px;
        height: 44px;
        font-size: 16px;
        font-weight: var(--font-weight-m);
        margin-top: 10px;
    }

    .form-container .button {
        margin: 10px 0 0 auto;
    }

    .description-container {
        width: 100%;
        gap: 6px;
        align-items: flex-start;
    }

    .steps {
        gap: 4px;
    }

    .section.modal {
        width: calc(100vw - 24px);
        padding: 20px 24px 24px;
    }

    .title-container {
        width: 100%;
    }

    .modal .title {
        font-size: 22px;
    }

    .modal .content {
        width: 100%;
        justify-content: space-between;
    }

    .modal .form-container, .modal .submitted {
        width: 100%;
    }

    .modal textarea::placeholder {
        font-size: 14px;
    }
}