:root {
    --PhoneInputCountryFlag-height: 18px !important;
    --PhoneInputCountryFlag-borderColor: transparent !important;
    --PhoneInputCountrySelectArrow-width: 10px !important;
    --PhoneInputCountrySelectArrow-borderWidth: 3px !important;
    --PhoneInputCountrySelectArrow-opacity: 1 !important;
    --PhoneInputCountrySelectArrow-color: #602B7AFF !important;
    --PhoneInputCountrySelectArrow-marginLeft: 0 !important;
    .PhoneInputCountrySelectArrow {
        margin: 0 4px 4px 4px !important;
    }
}

.phone-number-input {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

.phone-number-input .PhoneInput {
    display: flex;
    align-items: center;
    gap: 6px;
    background: var(--third-color);
    border-radius: 6px;
    height: 44px;
    padding: 0 16px;
}

.PhoneInput--focus {
    outline: var(--primary-color) solid 2px;
}

.phone-number-input-error .PhoneInput {
    outline: var(--error-color) solid 2px;
}

.phone-number-input .PhoneInputCountry {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.phone-number-input .PhoneInputInput {
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    color: #000;
    font-weight: var(--font-weight-m);
    font-size: 16px;
    background: transparent;
    display: flex;
    align-items: center;
}

.phone-number-input .PhoneInputInput::placeholder {
    color: #000;
    font-weight: var(--font-weight-m);
    font-size: 16px;
}

.phone-number-input .PhoneInputInput:focus {
    outline: none;
}

.phone-number-input option {
    color: #000;
    font-weight: var(--font-weight-m);
    font-size: 16px;
    cursor: pointer;
    background: var(--third-color);
    line-height: 40px;
}

