.container {
    position: relative;
}

.label, .invalid-message {
    color: var(--third-text-color);
    font-size: 14px;
    padding-left: 8px;
    font-weight: var(--font-weight-m);
}

.invalid.label, .invalid-message {
    color: var(--error-color);
}

.invalid-message {
    font-size: 12px;
    position: absolute;
    bottom: -22px;
    right: 0;
}