.header {
    background: transparent;
    width: 100%;
    height: 100dvh;
    max-height: var(--header-full-height);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    overflow: hidden;
    transition: max-height 1s, background-color 1s;
}

.header.fixed {
    background: var(--third-color);
    max-height: var(--header-shrinked-height);
    position: fixed;
    transform: translateY(-100%);
    transition: max-height 1s, transform 0.5s;
    box-shadow: rgba(0, 0, 0, 0.08) 0 2px 4px;
}

.header.fixed.visible {
    transform: translateY(0);
}

.opened.header {
    background: var(--second-color);
    max-height: 100dvh;
}

.opened.header.fixed {
    background: var(--third-color);
}

.nav {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 38px 26px;
    /*flex-shrink: 0;*/
}

.fixed .nav {
    padding: 20px 26px 38px;
}

.top {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 14px;
    flex-shrink: 0;
}

.action-block {
    transform: translateY(-4px);
    display: flex;
    gap: 14px;
}

.phone {
    font-weight: var(--font-weight-l);
    color: var(--third-color);
    font-size: 16px;
    line-height: 16px;
    padding: 12px 0;
    height: 40px;
    margin-left: auto;
}

.fixed .phone {
    color: var(--second-color);
}

.tg {
    height: 26px;
    padding: 0;
    margin: 6px 30px 0 0;
}

.tg svg {
    fill: var(--third-color);
}

.fixed .tg svg {
    fill: var(--second-color);
}

.button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    position: relative;
}

.menu, .cross {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: var(--third-color);
    transform: rotate(-45deg);
    opacity: 0;
    transition: all 0.3s;
}

.fixed .menu, .fixed .cross {
    color: var(--second-color);
}

.menu {
    transform: rotate(45deg);
}

.active {
    opacity: 1;
    transform: rotate(0);
}

.links {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 22px;
}

.links h3 {
    font-size: 20px;
    margin-bottom: 4px;
}

.second {
    margin: 24px 0 4px;
}

.link {
    color: var(--third-text-color);
    font-size: 18px;
    font-weight: 500;
    padding: 0;
}

.fixed .link {
    color: var(--second-text-color);
}

.action-button {
    margin-top: auto;
    height: 46px;
    width: 100%;
    flex-shrink: 0;
}

.fixed .action-button {
    color: var(--third-color);
    background: var(--second-color);
}

@media (max-width: 639px) {
    .top {
        gap: 8px;
    }

    .tg {
        margin: 6px 8px 0 0;
    }

    .tg.expanded {
        margin: 6px 8px 0 auto;
    }
}