.section {
    display: flex;
    justify-content: center;
    padding: 80px 0;
}

.container {
    width: var(--content-second-width);
    display: flex;
    flex-direction: column;
}

.container h1 {
    font-size: 56px;
    width: 80%;
    margin-bottom: 36px;
}

.contacts {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 24px;
    margin-bottom: 24px;
}

.contacts img {
    position: absolute;
    width: 300px;
    top: 0;
    right: 0;
    transform: translateY(-100%);
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px 32px;
}

.contact h2 {
    font-size: 24px;
    margin-bottom: 6px;
}

.contact p {
    font-size: 20px;
}

.link {
    color: #415cdd;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    color: #8f41dd;
}

.address {
    background-color: #FFEBCC;
}

.address .link {
    text-decoration: underline;
    font-size: 18px;
}

.company-info {
    background-color: #F1E5FF;
    grid-row: span 2;
}

.phones {
    background-color: #E1F5FE;
}

.socials-container {
    background-color: #e1fee1;
}

.socials {
    margin-top: 20px;
    display: flex;
    gap: 18px;
    padding: 0 12px;
}

.social {
    height: 40px;
    width: 40px;
    transition: all 0.5s;
}

.social:hover {
    /*background: var(--second-color);*/
    /*fill: var(--third-color);*/
    transform: scale(1.2);
}

.mails-container {
    background-color: #fee1e1;
}

.mails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail {
    display: flex;
    flex-direction: column;
    gap: 6px;
}