.section {
    display: flex;
    justify-content: center;
    padding: 80px 0;
}

.container {
    width: var(--content-second-width);
    display: flex;
    flex-direction: column;
}

.container h1 {
    font-size: 56px;
    width: 80%;
    margin-bottom: 36px;
}

.contacts {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 24px;
    margin-bottom: 24px;
}

.contacts img {
    position: absolute;
    width: 300px;
    top: 0;
    right: 0;
    transform: translateY(-100%);
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px 32px;
}

.contact h2 {
    font-size: 24px;
    margin-bottom: 6px;
}

.contact p {
    font-size: 20px;
}

.link {
    color: #415cdd;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    color: #8f41dd;
}

.address {
    background-color: #FFEBCC;
}

.address .link {
    text-decoration: underline;
    font-size: 18px;
}

.company-info {
    background-color: #F1E5FF;
    grid-row: span 2;
}

.phones {
    background-color: #E1F5FE;
}

.socials-container {
    background-color: #e1fee1;
}

.socials {
    margin-top: 20px;
    display: flex;
    gap: 18px;
    padding: 0 12px;
}

.social {
    height: 40px;
    width: 40px;
    transition: all 0.5s;
}

.social:hover {
    /*background: var(--second-color);*/
    /*fill: var(--third-color);*/
    transform: scale(1.2);
}

.mails-container {
    background-color: #fee1e1;
}

.mails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.map-wrapper {
    width: 100%;
    height: 500px;
}

@media (max-width: 1279px) {
    .link:hover {
        color: #415cdd;
    }
    .link:active {
        color: #8f41dd;
    }
    .social:hover {
        transform: scale(1);
    }
    .social:active {
        transform: scale(1.2);
    }
    .section {
        padding: 64px 40px 80px;
    }

    .container {
        width: 100%;
        max-width: 100%;
    }

    .container h1 {
        font-size: 48px;
        line-height: 52px;
        width: 70%;
        margin-bottom: 28px;
    }

    .contacts {
        width: 100%;
    }

    .contacts img {
        width: 260px;
    }

    .mails {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 6px;
    }

    .mail {
        gap: 4px;
        flex-shrink: 0;
    }

    .map-wrapper {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 959px) {
    .section {
        padding: 47px 26px 64px;
    }

    .container h1 {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        gap: 26px;
        margin-bottom: 26px;
    }

    .contacts img {
        width: 200px;
    }

    .mails {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 6px;
    }

    .map-wrapper {
        height: 300px;
    }

    .socials {
        margin-top: 6px;
        gap: 18px;
        padding: 0;
    }
}

@media (max-width: 639px) {
    .section {
        padding: 38px 24px 58px;
    }

    .container h1 {
        width: 60%;
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .contacts {
        gap: 24px;
        margin-bottom: 24px;
    }

    .contacts img {
        width: 160px;
    }

    .mails {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
    }

    .map-wrapper {
        height: 300px;
    }

    .contact {
        gap: 8px;
        padding: 16px 22px;
    }

    .contact h2 {
        font-size: 22px;
        margin-bottom: 4px;
    }

    .contact p {
        font-size: 18px;
    }

    .link {
        font-size: 18px;
    }
}