.section {
    background: var(--third-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    gap: 48px;
}

.section.modal {
    width: 1000px;
    padding: 0;
}

.title-container {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 56px;
}

.content {
    display: flex;
    width: var(--content-second-width);
    justify-content: space-around;
}

.modal .content {
    width: 100%;
    justify-content: space-between;
}

.form-container, .submitted {
    height: 100%;
    background: var(--second-color);
    width: 530px;
    border-radius: 30px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.submitted {
    align-items: center;
    justify-content: space-between;
    height: 583px;
}

.submitted h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 14px;
}

.submitted p {
    font-size: 22px;
    text-align: center;
}

.check {
    padding: 10px;
    border-radius: 50%;
    border: 8px solid limegreen;
    width: 160px;
    height: 160px;
    color: limegreen;
}

.button {
    background: #FFF06B;
    width: 250px;
    height: 44px;
    font-size: 16px;
    font-weight: var(--font-weight-m);
    margin-top: 10px;
}

.button:hover, .submitted .button:hover {
    background: #fff387;
}

.submitted .button {
    width: 100%;
    height: 52px;
    font-size: 18px;
    font-weight: var(--font-weight-l);
    margin-top: 16px;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 60px;
    width: 420px;
}

.description-container h3, .description-container p  {
    width: 300px;
    font-size: 24px;
    line-height: 32px;
}

.description-container p  {
    font-size: 20px;
}

.steps {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.step {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.image-container {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.step img {
    max-width: 100%;
    max-height: 100%;
}