.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;
}

.label, .invalid-message {
    color: var(--third-text-color);
    font-size: 14px;
    padding-left: 8px;
    font-weight: var(--font-weight-m);
}

.input, .area {
    background: var(--third-color);
    padding: 0 16px;
    font-weight: var(--font-weight-m);
    color: #000;
    height: 44px;
    width: 100%;
    border: none;
    border-radius: 6px;
}

.input:focus, .area:focus  {
    outline: var(--primary-color) solid 2px;
}

.invalid input, .invalid input:focus {
    outline: var(--error-color) solid 2px;
}

.invalid label, .invalid-message {
    color: var(--error-color);
}

.invalid-message {
    font-size: 12px;
    position: absolute;
    bottom: -22px;
    right: 0;
}

.area {
    height: auto;
    padding: 12px 16px;
    resize: none;
}