:root {
    --content-width: 1320px;
    --content-second-width: 1200px;

    --header-full-height: 150px;
    --header-shrinked-height: 100px;

    --font-weight-xxxl: 900;
    --font-weight-xxl: 800;
    --font-weight-xl: 700;
    --font-weight-l: 600;
    --font-weight-m: 500;
    --font-weight-s: 400;
    --font-weight-xs: 300;
    --font-weight-xxs: 200;

    --background-z-index: 1;
    --content-z-index: 2;
}

@media(max-width: 1279px) {
    :root {
        --content-second-width: 1024px;
    }
}

@media(max-width: 959px) {
    :root {
        --header-full-height: 120px;
        --header-shrinked-height: 100px;
    }
}