.container {
    position: relative;
}

.container input {
    margin-bottom: 0 !important;
}

.container {
    margin-bottom: 16px;
}

.label, .invalid-message {
    color: var(--third-text-color);
    font-size: 14px;
    padding-left: 8px;
    font-weight: var(--font-weight-m);
}

.invalid.label, .invalid-message {
    color: var(--error-color);
}

.invalid-message {
    font-size: 12px;
    position: absolute;
    bottom: -22px;
    right: 0;
}

@media (max-width: 1279px) {
    .container {
        margin-bottom: 12px;
    }
}

@media (max-width: 959px) {
    .container {
        margin-bottom: 14px;
    }
}

@media (max-width: 639px) {
    .container {
        margin-bottom: 10px;
    }
}
