.section {
    background: var(--second-color);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 60px 40px 80px;
}

.title {
    width: 100%;
    max-width: var(--content-second-width);
}

.reasons-container {
    width: 100%;
    max-width: var(--content-second-width);
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
}

.biggest {
    grid-row: span 3;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.button {
    padding: 16px 40px;
    font-size: 22px;
}

.reason {
    width: 100%;
    height: 100%;
    border: var(--primary-color) solid 2px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reason hr {
    color: var(--primary-color);
}

.label {
    width: 320px;
    height: 50px;
    background: var(--primary-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.label span {
    font-size: 20px;
}

.detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detail h4 {
    font-size: 20px;
}
.detail p {
    font-size: 18px;
}

@media (max-width: 1279px) {
    .section {
        gap: 24px;
        padding: 56px 40px 80px;
    }

    .title {
        font-size: 40px;
        line-height: 48px;
    }

    .reasons-container {
        grid-template-columns: 1fr 1fr;
        gap: 22px;
    }

    .biggest {
        gap: 30px;
    }

    .button {
        padding: 16px 40px;
        font-size: 22px;
    }

    .reason {
        padding: 20px;
        gap: 12px;
    }

    .label {
        width: 300px;
        height: 40px;
        margin-bottom: 8px;
    }

    .label span {
        font-size: 18px;
    }

    .detail {
        gap: 8px;
    }

    .detail h4 {
        font-size: 20px;
    }
    .detail p {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 959px) {
    .section {
        gap: 24px;
        padding: 47px 26px 64px;
    }

    .title {
        font-size: 32px;
        line-height: 36px;
    }

    .reasons-container {
        grid-template-columns: 4fr 4fr;
        gap: 12px;
    }

    .biggest {
        gap: 16px;
    }

    .button {
        padding: 0;
        height: 46px;
        font-size: 18px;
    }

    .reason {
        padding: 14px;
        gap: 8px;
    }

    .label {
        width: 100%;
        max-width: 258px;
        height: 40px;
        margin-bottom: 8px;
    }

    .label span {
        font-size: 16px;
    }

    .detail {
        gap: 4px;
    }

    .detail h4 {
        font-size: 18px;
    }
    .detail p {
        font-size: 14px;
        line-height: 18px;
    }
}

@media (max-width: 639px) {
    .section {
        gap: 24px;
        padding: 47px 26px 64px;
    }

    .title {
        font-size: 26px;
        line-height: 30px;
    }

    .reasons-container {
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;
    }

    .button {
        font-size: 16px;
    }

    .reason {
        padding: 20px;
        gap: 10px;
    }

    .label {
        max-width: 100%;
        height: 40px;
        margin-bottom: 2px;
    }
}