.button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
}

.action, .action-second {
    background: var(--second-color);
    color: var(--third-text-color);
    border-radius: 60px;
    font-size: 20px;
    font-weight: var(--font-weight-l);
}

.action:hover {
    background: #903fb8;
}

.action-second {
    background: var(--primary-color);
    color: var(--second-text-color);
}

.action-second:hover {
    background: #ffe27e;
}

.switch {
    border-radius: 50%;
    background: var(--primary-color);
    padding: 10px;
    color: var(--second-text-color);
}

.switch:hover {
    transform: scale(1.2);
}

.switch-transparent {
    background: transparent;
    border-radius: 50%;
}

.outlined-reversed {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--third-text-color);
    border: 2px solid var(--third-color);
    border-radius: 60px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
}

.outlined-reversed:hover {
    color: var(--second-text-color);
    background: var(--third-color);
}

.icon {
    padding: 4px;
    border-radius: 12px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(96, 43, 122, 0.2);
    color: var(--second-color);
    transition: all 0.3s;
}

.icon:hover {
    transform: scale(1.2);
}
