.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 80px;
}

.section h1, .section h2 {
    width: var(--content-second-width);
}

.section h2 {
    font-size: 28px;
    margin-bottom: 6px;
}

.section h1 {
    font-size: 56px;
    margin-bottom: 40px;
}

.content {
    position: relative;
    width: var(--content-second-width);
    display: flex;
    justify-content: space-between;
}

.content img {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-100%);
    height: 150px;
}

.contacts {
    border-top: 1px solid var(--second-text-color);
    padding: 16px 0;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.contacts h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

.contacts span {
    font-size: 18px;
}

.socials {
    margin-top: 20px;
    display: flex;
    gap: 24px;
    padding: 0 12px;
}

.social {
    height: 40px;
    width: 40px;
    transition: all 0.5s;
}

.social:hover {
    /*background: var(--second-color);*/
    /*fill: var(--third-color);*/
    transform: scale(1.2);
}

.link {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 12px;
    padding: 6px 12px;
    border-radius: 20px;
    transition: all 0.5s;
    width: 90%;
}

.link svg {
    width: 32px;
    height: 32px;
    fill: var(--second-color);
}

.link:hover {
    background: var(--second-color);
}

.link:hover span {
    color: var(--third-color);
}

.link:hover svg {
    fill: var(--third-color);
}

.phone-icon {
    padding: 4px;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 70%;
}

